<!-- .topbar -->
<div class="site-header__topbar topbar">
    <div class="topbar__container container">
        <div class="topbar__row">
            <div class="topbar__item topbar__item--link">
                <a class="topbar-link color-Off-white" routerLink="./shop/track-order">
                    <!-- <i class="fa fa-chalkboard-teacher mr-1"></i> -->
                    <i class="fas fa-file-invoice mr-1"></i>
                    Track Order
                </a>
            </div>
            <div class="topbar__item topbar__item--link">
                <a class="topbar-link color-Off-white" routerLink="./shop/track-order">
                    <i class="far fa-question-circle mr-1"></i>
                    FAQ
                </a>
            </div>
            <div class="topbar__item topbar__item--link">
                <a class="topbar-link color-Off-white" routerLink="./shop/track-order">
                    <i class="fa fa-address-card mr-1"></i>
                    About us
                </a>
            </div>
            <div class="topbar__item topbar__item--link">
                <a class="topbar-link color-Off-white" routerLink="./shop/track-order">
                    <i class="fas fa-phone mr-1"></i>
                    
                    Contact Us
                </a>
            </div>
            <div class="topbar__item topbar__item--link">
                <a href="https://{{config.SellerPortalPath}}" target="_blank" class="topbar-link color-white">
                    <i class="fa fa-chalkboard-teacher mr-1"></i>
                    Seller Portal
                </a>
            </div>
            <div class="topbar__item topbar__item--link">
                <a href="https://{{config.AdminPortalPath}}" target="_blank" class="topbar-link color-white">
                    <i class="fa fa-user-secret mr-1"></i>
                    Admin Portal
                </a>
            </div>
            <div class="topbar__spring"></div>


            <ng-template [ngIf]="getLoggedUser()" [ngIfElse]="loading">
                <div class="topbar__item" *ngIf="HandleCurrencySwitch()">
                    <div class="topbar-dropdown" appDropdown="topbar-dropdown--opened" #accountDropdown="appDropdown">
                        <button class="topbar-dropdown__btn color-white" type="button"
                            (click)="accountDropdown.toggle()">
                            <i class="fa fa-user-circle mr-1"></i>
                            {{getLoggedUser()}}
                            <app-icon name="arrow-rounded-down-7x5" size="7x5"></app-icon>
                        </button>

                        <div class="topbar-dropdown__body">
                            <app-header-menu layout="topbar" [items]="[
                                {label: 'Dashboard',     url: './account/dashboard'},
                                {label: 'Edit Profile',  url: './auth/profile'},
                                {label: 'Order History', url: './account/orders'},
                                {label: 'Addresses',     url: './account/addresses'},
                                {label: 'Password',      url: './account/password'},
                                {label: 'Logout',        url: './auth/logout'}
                            ]"></app-header-menu>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #loading>
                <div class="topbar__item topbar__item--link">
                    <a class="topbar-link color-white" routerLink="./auth/login">Log on</a>
                    <em class="mr-2 ml-2">or</em>
                    <a class="topbar-link color-white" routerLink="./auth/profile">Create an account</a>
                </div>
            </ng-template>


            <div class="topbar__item">
                <div class="topbar-dropdown" appDropdown="topbar-dropdown--opened" #currencyDropdown="appDropdown">
                    <button class="topbar-dropdown__btn" type="button" (click)="currencyDropdown.toggle()">
                        Currency: <span class="topbar__item-value">{{ currencyService.options.code }}</span>
                        <app-icon name="arrow-rounded-down-7x5" size="7x5"></app-icon>
                    </button>

                    <div class="topbar-dropdown__body">
                        <ul class="menu menu--layout--topbar">
                            <li *ngFor="let currency of currencies">
                                <button type="button" (click)="setCurrency(currency); currencyDropdown.close();">
                                    {{ currency.name }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="topbar__item" *ngIf="HandleLangSwitch()">
                <div class="topbar-dropdown" appDropdown="topbar-dropdown--opened" #languageDropdown="appDropdown">
                    <button class="topbar-dropdown__btn" type="button" (click)="languageDropdown.toggle()">
                        Language: <span class="topbar__item-value">EN</span>
                        <app-icon name="arrow-rounded-down-7x5" size="7x5"></app-icon>
                    </button>

                    <div class="topbar-dropdown__body">
                        <ul class="menu menu--layout--topbar menu--with-icons">
                            <li *ngFor="let language of languages">
                                <button type="button">
                                    <span class="menu__icon">
                                        <img [src]="'assets/images/languages/'+language.image+'.png'" [srcset]="'assets/images/languages/'+language.image+'.png 1x,' +
                                                       'assets/images/languages/'+language.image+'@2x.png 2x'" alt="">
                                    </span>
                                    {{ language.name }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .topbar / end -->