.header-style{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

label{
    font-size: 13px;
    padding-bottom: 3px;

}

p{
    font-size: 14px;
}   

ul li{
    font-size: 14px;
}