<app-page-header [header]="'Reset Password'" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'Reset Password', url: ''}
]"></app-page-header>

<div class="block">
  <div class="container">
    <div class="row">
      <!-- <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div> -->
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header p-3 bg-light">
            <h4>Reset Your Password</h4>
            <span>
              <small>In here you can reset your password.This link expires in 24 Hours
              </small>
            </span>
          </div>
          <div class="card-body p-3">

            <form [formGroup]="loginForm">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="font-14">Old Password</label>
                    <input type="text" formControlName="oldpsw" class="form-control" placeholder=""
                      [ngClass]="{ 'is-invalid': submitted && f.oldpsw.errors }">
                    <div *ngIf="f.oldpsw.errors" class="invalid-feedback">
                      <div *ngIf="f.oldpsw.errors.required">Username is required</div>
                      <div *ngIf="f.oldpsw.errors.pattern">pattern is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="font-14">New Password</label>
                    <input type="text" formControlName="newpsw" class="form-control" placeholder=""
                      [ngClass]="{ 'is-invalid': submitted && f.newpsw.errors }">
                    <div *ngIf="submitted && f.newpsw.errors" class="invalid-feedback">
                      <div *ngIf="f.newpsw.errors.required">Username is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-2">
                    <label class="font-14">Confirm New Password</label>
                    <input type="text" formControlName="conpsw" class="form-control" placeholder=""
                      [ngClass]="{ 'is-invalid': submitted && f.conpsw.errors }">
                    <div *ngIf="submitted && f.conpsw.errors" class="invalid-feedback">
                      <div *ngIf="f.conpsw.errors.required">Username is required</div>
                    </div>
                  </div>
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>